{% extends 'base-front.html.twig' %}

    {% block title %}
<head>
    <title> modifier Livraison</title>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
</head>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        {% endblock %}
    {% endblock %}



{% block body %}
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    <h1 style="padding-right: 10px; text-align-all: center" >Modifier Livraison</h1>

    {{ include('livraison/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('livraison_index') }}">back to list</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
{% endblock %}