{% extends 'base-front.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">

<div class="example-wrapper">
    <div class="slider-area-wrapper">
        <div class="slider-content-active">
            <div class="slider-slide-item bg-img" data-bg="{{ asset('front/assets/img/slider/slider-1.jpg') }}">
                <div class="container container-wide h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <h3>NEW TECHNOLOGY & BUILD</h3>

                                    <a class="btn btn-white" href="{{ path('produit') }}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-slide-item bg-img" data-bg="{{ asset('front/assets/img/slider/slider-2.jpg') }}">
                <div class="container container-wide h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-12">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <h3>NEW TECHNOLOGY & BUILD</h3>

                                    <a class="btn btn-white" href="{{ path('produit') }}">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Slider Area Wrapper ==-->

    <!--== Start Banner Area Wrapper ==-->
    <div class="banner-area-wrapper banner-mt">
        <div class="container container-wide">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="banner-item">
                        <div class="banner-item__img">
                            <a href="#"><img src="{{ asset('front/assets/img/banner/banner-1.jpg') }}" alt="Banner" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Banner Area Wrapper ==-->

    <!--== Start Call to Action Area ==-->

    <!--== End Call to Action Area ==-->



    <section class="ftco-section">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-5 pb-md-4">Nos événements</h2>
                </div>
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">
                        {% for i in 1..5 %}
                        <div class="item">
                            <div class="blog-entry">
                                <a href="#" class="block-20 d-flex align-items-start" style="background-image: url('images/image_1.jpg');">
                                    <div class="meta-date text-center p-2">
                                        <span class="day">26</span>
                                        <span class="mos">Nov.</span>
                                        <span class="yr">209</span>
                                    </div>
                                </a>

                                <div class="text border border-top-0 p-4">
                                    <h3 class="heading"><a href="#">Nom de l'événement</a></h3>
                                    <p>description</p>
                                    <div class="d-flex align-items-center mt-4">
                                        <p class="mb-0"><a href="#" class="btn btn-primary">Plud de détails <span class="ion-ios-arrow-round-forward"></span></a></p>
                                        <p class="ml-auto meta2 mb-0">
                                            <a href="#" class="mr-2">{{ i }}</a>
                                            <a href="#" class="meta-chat"><span class="ion-ios-chatboxes"></span> 3</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}




                    </div>
                </div>
            </div>
        </div>
    </section>
<br>
    <br>



</div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

{% endblock %}
