{% extends 'base-back.html.twig' %}

{% block title %}Produits à Acheter{% endblock %}

{% block body %}

    {% block form %}
        <form class="d-flex align-items-center h-100" method="POST" action="{{ path('produit_acheter_affichage_back') }}">
        {% endblock %}

    {% block chercher %}
        {{ form_start(form) }}
        {{ form_widget(form.q,{ 'attr': {'class': 'form-control bg-transparent border-0'} }) }}
        {% endblock %}
    <script src="{{ asset('front/assets/js/node_modules/jquery/dist/jquery.js') }}"></script>
    <div class="card-body">
        <h4 class="card-title">Les Produits</h4>
        <p class="card-description"><code>Click to modify or delete</code>
        </p>
        {% for message in app.flashes('modifA') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th> id Produit </th>
                <th> Nom </th>
                <th> Categorie </th>
                <th> Marque </th>
                <th> Prix </th>
                <th> Quantité </th>
                <th colspan="2" class="text-center"> Les Actions </th>
            </tr>
            </thead>
            <tbody id="ach">
            {% for product in products %}
            <tr>
                <td class="py-1">
                    {{ product.id }}
                </td>
                <td> {{ product.nom }} </td>
                <td> {{ product.category.getLabel() }}</td>
                   <td> {{ product.marque }}
                </td>
                <td> {{ product.prix }} </td>
                <td> {{ product.qte }} </td>
                <td><a href="{{ path("modifier_produitA", {'id':product.id })}}">Modifier<i class="mdi mdi-pencil"></i></a></td>
                <td><a href="{{ path("supprimer_produitA", {'id':product.id}) }}">Supprimer
                        <i class="mdi mdi-delete-forever"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div style="margin: 0 auto; text-align: center">
        <a href="{{ path('produit_acheter_ajout')  }}" class="btn btn-outline-dark btn-fw" style="margin-left: 40%;
         margin-right: 40%; display:block;">Ajouter Un Produit</a>
            <a href="{{ path('produit_affichage_front')  }}" class="btn btn-outline-dark btn-fw" style="margin-left: 40%;
         margin-right: 40%; display:block;">Liste Des Produits</a>

        </div>
    </div>

    <script>
        function delay(fn, ms) {
            let timer = 0
            return function(...args) {
                clearTimeout(timer)
                timer = setTimeout(fn.bind(this, ...args), ms || 0)
            }
        }
        $('#q').keyup(delay(function(e){
            var serie=$('#q').val();
            var DATA =  {'q' : serie};
            console.log(DATA);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ path('acheter')}}",
                data:DATA,
                success: function (data) {
                    $("#ach").replaceWith("<tbody id='ach'>")
                    console.log(data);
                    $.each(data,function(k,el) {
                        var test="{{path('supprimer_produitA', {'id':'ReplacewithcorrectValue' })}}'>"
                        var supp = test.replace("ReplacewithcorrectValue", el.id)
                        var test = "{{ path("modifier_produitA", {'id':'ReplacewithcorrectValue' })}}'>"
                        var modif= test.replace("ReplacewithcorrectValue", el.id)
                        $('#ach').append(
                            "<tr>"+"<td class='py-1'>"+el.id+"</td>"+
                            "<td>"+el.nom+"</td>"+"<td>"+el.category+"</td>"+
                            "<td>"+el.marque+"</td>"+"<td>"+el.prix+"</td>"+
                            "<td>"+el.qte+"</td>"+
                            "<td>"+"<a href='"+modif+"Modifier"+"<i class='mdi mdi-pencil'>"+"</i>"+"</a>"+"</td>"
                            +"<td>"+"<a href='"+supp+"Supprimer"+
                            "<i class='mdi mdi-delete-forever'>"+"</i>"+"</a>"+"</td>"

                        );
                    });
                },
                error:function ()
                {
                    $("#ach").replaceWith("<tbody id='ach'>")
                }
            });
        }, 500));
    </script>

{% endblock %}