{% extends 'base-back.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
    <h1 class="card-title">Créer un nouveau produit</h1>

    {{ form_start(form, {'class': 'forms-sample'}) }}
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div>
        {{ form_errors(form) }}
    </div>
    <div class="form-group">
        <div class="col">
            {{ form_row(form.nom) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col">
            {{ form_row(form.prix) }}
        </div>
    </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.marque) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.qte) }}
            </div>
        </div>
    <div class="form-group">
        <div class="col">
            {{ form_row(form.category) }}
        </div>
    </div>

    <div class="row">
        {{ form_widget(form.imagePath) }}
    </div>
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-outline-dark btn-fw">{{ button_label|default('Save') }}</button>
    <a href="{{ path('produit_affichage_back')  }}" class="btn btn-outline-dark btn-fw" >back to list</a>
    {{ form_end(form) }}
<br>
    <br>
    <br>
    </div>
    </div>
{% endblock %}