{% extends 'base-back.html.twig' %}

{% block title %}Modifier produit{% endblock %}

{% block body %}

    {{ form_start(form, {'class': 'forms-sample'}) }}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_widget(form) }}
    <button class="btn btn-outline-dark btn-fw">{{ button_label|default('Modify') }}</button>
    <a href="{{ path('produit_affichage_back')  }}" class="btn btn-outline-dark btn-fw" >Back To List</a>
    {{ form_end(form) }}

{% endblock %}