{% extends 'base-front.html.twig' %}

{% block title %}Modifier produit{% endblock %}

{% block body %}

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="product-details-page-content">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <!-- Start Product Thumbnail Area -->
                            <div class="col-md-5">
                                <div class="product-thumb-area">
                                    <div class="product-details-thumbnail">
                                        <div class="product-thumbnail-slider" id="thumb-gallery">
                                            <figure class="pro-thumb-item" data-mfp-src="{{ asset('front/assets/img/product/'~produit.imagePath) }}">
                                                <img src="{{ asset('front/assets/img/product/'~produit.imagePath) }}" alt="Product Details" />
                                            </figure>
                                        </div>

                                        <a href="#thumb-gallery" class="btn-large-view btn-gallery-popup">View Larger <i class="fa fa-search-plus"></i></a>
                                    </div>


                                </div>
                            </div>
                            <!-- End Product Thumbnail Area -->

                            <!-- Start Product Info Area -->
                            <div class="col-md-7">
                                <div class="product-details-info-content-wrap">
                                    <div class="prod-details-info-content">
                                        <h2>{{ produit.nom }}</h2>
                                        <h5 class="price"><strong>Price:</strong> <span class="price-amount">{{
                                                produit.prix }} DT</span>
                                        </h5>
                                        <p>{{ produit.description }}</p>
                                        <div class="product-config">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="config-label">Catégorie</th>
                                                        <td class="config-option">
                                                            <div class="config-color">
                                                                <a href="#">{{ categorie }}</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="config-label">Marque</th>
                                                        <td class="config-option">
                                                            <div class="config-color">
                                                                <a href="#">{{ produit.marque }}</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="product-action">
                                            <div class="action-top d-sm-flex">
                                                <div class="pro-qty mr-3 mb-4 mb-sm-0">
                                                    <label for="quantity" class="sr-only">Quantity</label>
                                                    <input type="text" id="quantity" title="Quantity" value="1" />
                                                </div>
                                                <button class="btn btn-bordered">Add to Cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Info Area -->
                        </div>
                        <div class="row">
                        <div class="col-12">
                            <div class="product-description-review">
                                <!-- Product Description Tab Menu -->
                                <ul class="nav nav-tabs desc-review-tab-menu" id="desc-review-tab" role="tablist">
                                    <li>
                                        <a class="active" id="desc-tab" data-toggle="tab" href="#descriptionContent" role="tab">Description</a>
                                    </li>
                                </ul>

                                <!-- Product Description Tab Content -->
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="descriptionContent">
                                        <div class="description-content">

                                        </div>
                                    </div>

                                        <div class="product-rating-wrap">
                                            <div class="average-rating">
                                                <h4> {% if produit.rating %}
                                                    produit.rating
                                                    {% else %}
                                                    0
                                                    {% endif %}<span>(Overall)</span></h4>
                                                <span>Based on 2 Comments</span>
                                            </div>

                                            <div class="display-ratings">
                                                <div class="rating-item">
                                                    <div class="rating-author-pic">
                                                        <img src="assets/img/extra/author-1.jpg" alt="author" />
                                                    </div>

                                                    <div class="rating-author-txt">
                                                        <div class="rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>

                                                        <div class="rating-meta">
                                                            <h3>Cristopher Lee</h3>
                                                            <span class="time">- 07, Jun</span>
                                                        </div>

                                                        <p>Wonderful collection of WooThemes classics! A must buy for
                                                            all
                                                            Woo fans.</p>
                                                    </div>
                                                </div>

                                                <div class="rating-item">
                                                    <div class="rating-author-pic">
                                                        <img src="assets/img/extra/author-2.jpg" alt="author" />
                                                    </div>

                                                    <div class="rating-author-txt">
                                                        <div class="rating-star">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-empty"></i>
                                                        </div>

                                                        <div class="rating-meta">
                                                            <h3>Raju Ahammad</h3>
                                                            <span class="time">- 02, Jun</span>
                                                        </div>

                                                        <p>Voluptatem quia voluptas sit aspernat uptatem sequi Neque
                                                            porro.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="rating-form-wrapper">
                                                <h3>Add your Reviews</h3>
                                                <form action="#" method="post">
                                                    <div class="rating-form row">
                                                        <div class="col-12">
                                                            <h5>Your Rating:</h5>
                                                            <div class="rating-star fix mb-20">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-input-item mt-30 mt-md-0">
                                                                <label for="name" class="sr-only">Name</label>
                                                                <input type="text" id="name" placeholder="Name" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-input-item mt-30 mt-md-0">
                                                                <label for="email" class="sr-only">Email</label>
                                                                <input type="email" id="email" placeholder="Email" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-input-item mt-30 mb-40">
                                                                <label for="your-review" class="sr-only">review</label>
                                                                <textarea rows="4" name="review" id="your-review" placeholder="Write a review"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-22">
                                                            <button class="btn btn-brand">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}