
{% extends 'base-front.html.twig' %}

    {% block title %}Home{% endblock %}

    {% block body %}
        <div class="page-content-wrapper sp-y">
            <div class="blog-details-page-wrapper">
                <div class="container container-wide">
                    <div class="row">
                        <div class="col-12">
                            <article class="blog-post-details">
                                <figure class="blog-post-thumb">
                                    <img src="{{ asset('front/assets/img/actualite/'~evenement.imageName) }}" alt="Blog" />
                                </figure>

                                <div class="blog-post-txt-wrap">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-2 order-1 order-md-0"></div>

                                        <div class="col-md-9 col-lg-8 m-auto order-0">
                                            <div class="blog-post-txt">
                                                <h1>{{evenement.nom}}</h1>
                                                <h2>{{ evenement.date|date("m/d/Y") }}</h2>
                                                <h2>{{evenement.heure}}</h2>

                                                <p>{{evenement.description}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <div class="display-ratings">
                                {% for av in avis %}
                                    <div class="rating-item">
                                        <div class="rating-author-pic">
                                            <img src="{{ asset("front/assets/img/unknown.png") }}" alt="author" />
                                        </div>
                                        <div class="rating-author-txt">
                                            <div class="rating-meta">
                                                <h3>{{ av.nom }}</h3>
                                                <span class="time">-  {{ av.email }}</span>
                                            </div>

                                            <p>{{av.description}}</p>
                                        </div>
                                {% endfor %}
                                        <br>
                                        <br>
                                        <br>
                            <div class="rating-form-wrapper">
                            <h3>Ajouter un commentaire</h3>
                            <form action="{{ path("evenement_event", {'id':evenement.id })}}"  method="POST">
                                <div class="rating-form row">
                                    <div class="col-md-6">
                                        <div class="form-input-item mt-30 mt-md-0">
                                            {{ form_row(form.nom) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-input-item mt-30 mt-md-0">
                                            {{ form_row(form.email) }}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-input-item mt-30 mb-40">
                                            {{ form_row(form.description,{'id' : 'your-review'}) }}
                                        </div>
                                    </div>
                                    <div class="col-12 mt-22">
                                        <button class="btn btn-white">Ajouter</button>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    {{ form_widget(form) }}
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--== End Slider Area Wrapper ==-->
    {% endblock %}

