{% extends 'base-front.html.twig' %}
{% block title %} Montage{% endblock %}



{% block body %}


    <div class="example-wrapper">
        <h1 align="center">Votre demande</h1>
        {% for messages in app.flashes('success') %}
            <div class="alert alert-danger">
                {{ messages }}
            </div>
        {% endfor %}
    </div>
    <hr style="visibility: hidden ">
    <div  align="center">
        <div class="col-lg-12 stretch-card">

            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <th>
                            <tr>
                                <th >Processeur </th>
                                <th >Carte graphique </th>
                                <th >Carte mere </th>
                                <th>Disque Systeme</th>
                                <th>boitier</th>
                                <th>Stockage Supp</th>
                                <th>Montant</th>


                            </tr>
                        </th>
                        </thead>
                        <tbody>


                        <tr>

                            {% for montage in montage %}

                            <td>{{ montage.Processeur }}</td>
                            <td>{{ montage.CarteGraphique }}</td>
                            <td>{{ montage.CarteMere }}</td>
                            <td>{{ montage.DisqueSysteme }}</td>
                            <td>{{ montage.boitier }}</td>
                            <td>{{ montage.StockageSupp }}</td>
                            <td>{{ montage.Montant }}</td>

                            <td><button  class="btn btn-brand"><a href="{{ path('delete', {'id': montage.Id}) }}"style="color: white;" onclick="return confirm('Etes vous sûr de supprimer ce montage?')"; >Supprimer</a></button></td>
                             <td><button  class="btn btn-brand"><a href="{{ path('update', {'id': montage.Id}) }}"style="color: white;">Modifier</a></button></td>
                        </tr>
                        </tbody>

                        {% endfor %}

                    </table>




                </div>
            </div>
        </div>

    </div>


{% endblock %}
