{% extends 'base-back.html.twig' %}

{% block title %}DEMANDES DES LOCATIONS DES PRODUITS{% endblock %}

{% block body %}
    <h1>DEMANDES DES LOCATIONS DES PRODUITS</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>DateDEB</th>
            <th>DateFin</th>
            <th>Produit LOUER</th>
            <th>TotalL</th>
            <th>MODIFIER LOCATION</th>
        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.dateDEB ? location.dateDEB|date('Y-m-d') : '' }}</td>
                <td>{{ location.dateFin ? location.dateFin|date('Y-m-d') : '' }}</td>
                <td>{% for produit in location.produit %}{{ produit.title }} {% endfor %}</td>
                <td>{{ location.TotalL }}</td>
                <td>

                    <a href="{{ path('location_editB', {'id': location.id}) }}">MODIFICATION DE LA DEMANDE</a>
                    {{ include('location/deleteB.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">PAS DE DEMANDE DE LOCATION</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
