{% block body %}
    <h1 align="center">VOTRE FACTURE</h1>

    <div class="col-lg-12 stretch-card">

    <div class="card">
    <div class="card-body">
    <table class="table table-bordered">

        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Paiment</th>
            <th>Adresse</th>
            <th>Telephone</th>

        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.prenom }}</td>
                <td>{{ commande.paiment }}</td>
                <td>{{ commande.Adresse}}</td>
                <td>{{ commande.Telephone}}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="18">pas de facture</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}