{% extends 'base-back.html.twig' %}

{% block title %}LISTE DES COMMANDES{% endblock %}

{% block body %}

    <h1>LISTE DES COMMANDES VALIDE</h1>
    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Rechercher" aria-label="search" aria-describedby="search">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#hi tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<div class="col-lg-12 stretch-card">

    <div class="card">
        <div class="card-body">
            <table class="table" id="tab">

        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th><a href="{{ path('triee') }}" class="fa fa-sort-amount-desc" >Prenom</a></th>
            <th>Paiment</th>
            <th>Adresse</th>
            <th>Telephone</th>
            <th>Valider la commande ou annuler</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.prenom }}</td>
                <td>{{ commande.paiment }}</td>
                <td>{{ commande.Adresse}}</td>
                <td>{{ commande.Telephone}}</td>
                <td>
                    <a href="{{ path('commande_editB', {'id': commande.id}) }}" class="btn ">Annulation ou rectification de commande
                        <i class="bi bi-cart-x"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">PAS DE COMMANDES VALIDES</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('indexback') }}" class="btn ">RETOUR AU MENU ADMIN
        <i class="bi bi-cart-x"></i>
    </a>
            <a href="{{ path('listec') }}" class="btn ">IMPRESSION DE LISTE COMMANDE
                <i class="bi bi-cart-x"></i>
            </a>


{% endblock %}