{% extends 'base-back.html.twig' %}

{% block title %}Ajouter Un Produit à Acheter{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
    <h1 class="card-title">Créer un nouveau promotion</h1>
            {% for message in app.flashes('ajoutP') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
    {{ form_start(form, {'class': 'forms-sample','attr':{'novalidate': 'novalidate'}} ) }}
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div>
        {{ form_errors(form) }}
    </div>
    <div class="form-group">
        <div class="col">
            {{ form_row(form.Promotion) }}
        </div>
    </div>
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-outline-dark btn-fw">{{ button_label|default('Save') }}</button>
    <a href="{{ path('promotion')  }}" class="btn btn-outline-dark btn-fw" >back to list</a>
    {{ form_end(form) }}
<br>
    <br>
    <br>
    </div>
    </div>
{% endblock %}