{% extends 'base-back.html.twig' %}

{% block title %} reparation{% endblock %}

{% block body %}



    <div class="col-lg-12 stretch-card">

        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="padding-right: 20px;">Id</th>

                        <th style="padding-right: 20px;">Category</th>
                        <th style="padding-right: 20px;">Type</th>
                        <th style="padding-right: 20px;">Description</th>

                        <th style="padding-right: 20px;">date</th>
                        <th style="padding-right: 20px;">Etat</th>
                        <th style="padding-right: 20px;">Email</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr >
                        {% for reparation in reparation %}
                        <td >{{ reparation.id }}</td>

                        <td >{{ reparation.category }}</td>

                        <td>{{ reparation.type }}</td>
                        <td>{{ reparation.description }}</td>
                        <td >{{ reparation.Reserver| date('d/m/Y H:i')}}</td>
                        <td>{{ reparation.etat }}</td>
                        <td>{{ reparation.email }}</td>

                        <td><a href="{{ path('updateback', {'id': reparation.Id}) }}">Modifier<i class="mdi mdi-pencil"></i></a></td>


                    </tr>
                    </tbody>

                    {% endfor %}

                </table>




            </div>
        </div>
    </div>


{% endblock %}
