{% include ('cursor.html.twig') %}

<!DOCTYPE html>
<html class="no-js" lang="zxx"  >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} Reloua {% endblock %}</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{{asset('front/assets/img/logo.png')}}" type="image/x-icon" />

    <!--== Google Fonts ==-->


    <!-- build:css assets/css/app.min.css -->
    {% block css %}
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700%7CPoppins:400,400i,500,600&display=swap') }}" rel="stylesheet">
    <!--== Leaflet Min CSS ==-->
        <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ asset('front/assets/css/leaflet.min.css') }}" rel="stylesheet" />
    <!--== Nice Select Min CSS ==-->
    <link href="{{ asset('front/assets/css/nice-select.min.css') }}" rel="stylesheet" />
    <!--== Slick Slider Min CSS ==-->
    <link href="{{ asset('front/assets/css/slick.min.css') }}" rel="stylesheet" />
    <!--== Magnific Popup Min CSS ==-->
    <link href="{{ asset('front/assets/css/magnific-popup.min.css') }}" rel="stylesheet" />
    <!--== Slicknav Min CSS ==-->
    <link href="{{ asset('front/assets/css/slicknav.min.css') }}" rel="stylesheet" />
    <!--== Animate Min CSS ==-->
    <link href="{{ asset('front/assets/css/animate.min.css') }}" rel="stylesheet" />
    <!--== Ionicons Min CSS ==-->
    <link href="{{ asset('front/assets/css/ionicons.min.css') }}" rel="stylesheet" />
    <!--== Font-Awesome Min CSS ==-->
    <link href="{{ asset('front/assets/css/font-awesome.min.css') }}" rel="stylesheet" />
    <!--== Bootstrap Min CSS ==-->
    <link href="{{ asset('front/assets/css/bootstrap.min.css') }}" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="{{ asset('front/assets/css/style.css') }}" rel="stylesheet" />

        <!--== Helper Min CSS ==-->
    <link href="{{ asset('front/assets/css/helper.min.css') }}" rel="stylesheet" />
    <!-- endbuild -->

    <!--[if lt IE 9]><![endif]-->
        <link rel="stylesheet" href="{{ asset('back/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('back/assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
        <link rel="stylesheet" href="{{ asset('back/assets/vendors/css/vendor.bundle.base.css') }}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{{ asset('back/assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('back/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="{{ asset('back/assets/css/style.css') }}">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="{{ asset('back/assets/images/reloua_logo_2-01.svg') }}" />
    {% endblock %}
</head>

<body>

<!--== Start Header Area ==-->
      <header class="header-area">


    <div class="container container-wide">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-2">
                <div class="site-logo text-center text-sm-left">
                    <a href="{{ path('index') }}"><img src="{{ asset('front/assets/img/logo.png') }}" alt="Logo" /></a>
                </div>
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <div class="site-navigation">
                    <ul class="main-menu nav">
                        <li class="has-submenu"><a href="{{ path('index') }}">Accueil</a>

                        </li>
                        <li><a href="{{ path('about') }}">a propos</a></li>
                        <li class="has-submenu"><a href="{{ path('produit_affichage_front') }}">Produit</a>

                        </li>
                        <li class="has-submenu"><a href="{{ path('user_index') }}">Forum</a>

                        </li>
                        <li class="has-submenu"><a href="{{ path('addmontage') }}">Montage</a>

                        </li>

                        </li>
                        <li><a href="{{ path('contact') }}">Reclamation</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-8 col-lg-3">
                <div class="site-action d-flex justify-content-center justify-content-sm-end align-items-center">
                    {% if app.user %}
                        <ul class="login-reg-nav nav">
                            <!--<li>Hello, {{ app.user.firstName }}</li>-->
                            <!--<li><a href="{{ path('app_logout') }}">Logout</a></li>-->
                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item nav-profile dropdown">
                                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <div class="nav-profile-img">
                                            {% block customStyle %}
                                                <style >

                                                    img.profile {
                                                        border-radius: 50%;
                                                    }

                                                </style>
                                            {% endblock %}
                                            <img src="{{ asset('uploads/' ~ app.user.photo) }}" alt="avatar" class="profile" style="width:50px;height:50px">
                                        </div>
                                        <div class="nav-profile-text">
                                            <p class="mb-1 text-black">Hello, {{ app.user.firstName }}</p>

                                        </div>
                                    </a>
                                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                                        <div class="p-3 text-center bg-primary">
                                            <img class="img-avatar img-avatar48 img-avatar-thumb" src="{{ asset('uploads/' ~ app.user.photo) }}" alt=""style="width:50px;height:50px">
                                        </div>


                                        <div role="separator" class="dropdown-divider"></div>
                                        <h5 class="dropdown-header text-uppercase  pl-2 text-dark mt-2">Actions</h5>
                                        <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="{{ path('profile') }}">
                                            <span>Profile</span>
                                            <i class="mdi mdi-home-account ml-1"></i>
                                        </a>

                                        <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="{{ path('app_logout') }}">
                                            <span>Log Out</span>
                                            <i class="mdi mdi-logout ml-1"></i>
                                        </a>

                                    </div>
                                </li>
                            </ul>

                        </ul>

                    {% else %}
                        <ul class="login-reg-nav nav">
                            <li><a href="{{ path('app_login') }}">Login</a></li>
                            <li><a href="{{ path('user_new') }}">Inscription</a></li>
                        </ul>
                    {% endif %}

                    <div class="mini-cart-wrap">
                        <a href="/cart" class="btn-mini-cart">
                            <i class="ion-bag"></i>

                            <span class="cart-total"><td>{% block count %} {% endblock %}</td></span>

                        </a>


                    </div>

                    <div class="responsive-menu d-lg-none">
                        <button class="btn-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
<!--== End Header Area ==-->
{% block body %}
<!--== Start Slider Area Wrapper ==-->
<div class="slider-area-wrapper">
    <div class="slider-content-active">
        <div class="slider-slide-item bg-img" data-bg="{{ asset('front/assets/img/slider/slider-1.jpg') }}">
            <div class="container container-wide h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <div class="slide-content-inner">
                                <h3>NEW TECHNOLOGY & BUILD</h3>

                                <a class="btn btn-white" href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-slide-item bg-img" data-bg="{{ asset('front/assets/img/slider/slider-2.jpg') }}">
            <div class="container container-wide h-100">
                <div class="row align-items-center h-100">
                    <div class="col-12">
                        <div class="slide-content">
                            <div class="slide-content-inner">
                                <h3>NEW TECHNOLOGY & BUILD</h3>

                                <a class="btn btn-white" href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Slider Area Wrapper ==-->

<!--== Start Banner Area Wrapper ==-->
<div class="banner-area-wrapper banner-mt">
    <div class="container container-wide">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="banner-item">
                    <div class="banner-item__img">
                        <a href="#"><img src="{{ asset('front/assets/img/banner/banner-1.jpg') }}" alt="Banner" /></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner-item">
                    <div class="banner-item__img">
                        <a href="#"><img src="{{ asset('front/assets/img/banner/banner-2.jpg') }}" alt="Banner" /></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner-item">
                    <div class="banner-item__img">
                        <a href="#"><img src="{{ asset('front/assets/img/banner/banner-3.jpg') }}" alt="Banner" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Banner Area Wrapper ==-->

<!--== Start Call to Action Area ==-->
<div class="call-to-action-area sm-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="call-to-action-item mt-0">
                    <div class="call-to-action-item__icon">
                        <img src="{{ asset('front/assets/img/icons/icon-1.png') }}" alt="fast delivery">
                    </div>
                    <div class="call-to-action-item__info">

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="call-to-action-item">
                    <div class="call-to-action-item__icon">
                        <img src="{{ asset('front/assets/img/icons/icon-2.png') }}" alt="quality">
                    </div>
                    <div class="call-to-action-item__info">
                        <h3>Quality Products</h3>
                        <p>We ensure our product
                            quality all times</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="call-to-action-item">
                    <div class="call-to-action-item__icon">
                        <img src="{{ asset('front/assets/img/icons/icon-3.png') }}" alt="return">
                    </div>
                    <div class="call-to-action-item__info">
                        <h3>Online Support</h3>
                        <p>To satisfy our customer we try
                            to give support online</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Call to Action Area ==-->

<!--== Start Best Seller Products Area ==-->
<div class="best-seller-products-area sm-top">
    <div class="container container-wide">
        <div class="row">
            <div class="col-lg-5 m-auto text-center">
                <div class="section-title">
                    <h2 class="h3">Best Seller</h2>
                    <p>All best seller product are now available for you and your can buy
                        this product from here any time any where so sop now</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-wrapper">
                    <div class="product-carousel">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-1.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-2.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html"></a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">25%</span>
                            </div>
                        </div>
                        <!-- End Product Item -->

                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-3.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-4.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html"></a></h4>
                                <span class="price"><strong>Price:</strong> $615.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>
                        </div>
                        <!-- End Product Item -->

                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-4.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-5.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html"></a></h4>
                                <span class="price"><strong>Price:</strong> $65.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">35%</span>
                            </div>
                        </div>
                        <!-- End Product Item -->

                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-2.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-1.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html"></a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>
                        </div>
                        <!-- End Product Item -->

                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-5.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-4.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html"></a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">21%</span>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Best Seller Products Area ==-->

<!--== Start Call to action Wrapper ==-->
<div class="call-to-action-area">
    <div class="call-to-action-content-area bg-img" data-bg="front/assets/img/bg/bg-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="call-to-action-txt">
                        <h2>ALL KINDS OF PARTS THAT YOU <br> NEED CAN FIND HERE</h2>
                        <a href="shop.html" class="btn btn-brand">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="call-to-action-image-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{{ asset('front/assets/img/bg/bg-car.png') }}" alt="Car" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Call to action Wrapper ==-->

<!--== Start Promotion Code Banner Area ==-->
<div class="promotion-code-area-wrapper sm-top">
    <div class="container container-wide">
        <div class="row">
            <div class="col-md-6">
                <div class="promotion-code-banner-item mb-sm-30">
                    <img src="{{ asset('front/assets/img/banner/banner-5.jpg') }}" alt="Banner" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="promotion-code-banner-item">
                    <img src="{{ asset('front/assets/img/banner/banner-6.jpg') }}" alt="Banner" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Promotion Code Banner Area ==-->

<!--== Start Products Area Wrapper ==-->
<div class="products-area-wrapper sm-top">
    <div class="container container-wide">
        <div class="row">
            <div class="col-lg-5 m-auto text-center">
                <div class="section-title">
                    <h2 class="h3">All Of Our Products</h2>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-wrapper columns-5">
                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-6.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-7.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">RTX</a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">25%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-8.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-9.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">Toshiba</a></h4>
                                <span class="price"><strong>Price:</strong> $615.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-7.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-14.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">Acer</a></h4>
                                <span class="price"><strong>Price:</strong> $65.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">35%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-10.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-5.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">DELL</a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-11.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-4.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">HP</a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">21%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-13.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-12.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">MSI</a></h4>
                                <span class="price"><strong>Price:</strong> $65.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">35%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-14.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-8.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">Pc ASUS</a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-15.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-4.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">nividia Geforce GTX</a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">21%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-12.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-2.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">Mac book pro</a></h4>
                                <span class="price"><strong>Price:</strong> $165.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>

                            <div class="product-item__sale">
                                <span class="sale-txt">25%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->

                    <!-- Start Product Item -->
                    <div class="col">
                        <div class="product-item">
                            <div class="product-item__thumb">
                                <a href="single-product.html">
                                    <img class="thumb-primary" src="{{ asset('front/assets/img/product/product-9.png') }}" alt="Product" />
                                    <img class="thumb-secondary" src="{{ asset('front/assets/img/product/product-4.png') }}" alt="Product" />
                                </a>
                            </div>

                            <div class="product-item__content">
                                <div class="ratting">
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                    <span><i class="ion-android-star-half"></i></span>
                                </div>
                                <h4 class="title"><a href="single-product.html">Pc laptop leenovo </a></h4>
                                <span class="price"><strong>Price:</strong> $615.00</span>
                            </div>

                            <div class="product-item__action">
                                <button class="btn-add-to-cart"><i class="ion-bag"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-loop-strong"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-ios-heart-outline"></i></button>
                                <button class="btn-add-to-cart"><i class="ion-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Products Area Wrapper ==-->

<!--== Start Flash Deals Area ==-->

<!--== End Newsletter Area ==-->

<!--== Start Brand Logo Area Wrapper ==-->
<div class="brand-logo-area sm-top sm-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand-logo-content">
                    <div class="brand-logo-item">
                        <a href="#"><img src="{{ asset('front/assets/img/brand-logo/brand-1.png') }}" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{{ asset('front/assets/img/brand-logo/brand-2.png') }}" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{{ asset('front/assets/img/brand-logo/brand-3.png') }}" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{{ asset('front/assets/img/brand-logo/brand-4.png') }}" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{{ asset('front/assets/img/brand-logo/brand-5.png') }}" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{{ asset('front/assets/img/brand-logo/brand-3.png') }}" alt="Logo" /></a>
                    </div>

                    <div class="brand-logo-item">
                        <a href="#"><img src="{{ asset('front/assets/img/brand-logo/brand-1.png') }}" alt="Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Brand Logo Area Wrapper ==-->
{% endblock %}
<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-wide">
            <div class="row mtn-40">
                <div class="col-lg-3">
                    <div class="widget-item">
                        <div class="about-widget">
                            <a href="{{ path('index') }}"><img src="{{ asset('front/assets/img/logo-light.png') }}" alt="Logo" /></a>

                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Quicklink</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="{{ path('about') }}">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="{{ path('produit_affichage_front') }}">Shop</a></li>
                                <li><a href="#">Cart</a></li>
                                <li><a href="#">Reclamation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Support</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="{{ path('about') }}">About</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget-item">
                        <h4 class="widget-title"></h4>
                        <div class="widget-body">
                            <address>

                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright-content">
                        <p>Copyright  2022 Reloua. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>



<!--== Start Responsive Menu Wrapper ==-->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="logo">
                    <a href="{{ path('index') }}"><img src="{{ asset('front/assets/img/logo.png') }}" alt="Logo"></a>
                </div>
                <div class="close-btn">
                    <button class="btn-close"><i class="ion-android-close"></i></button>
                </div>
            </div>

            <!-- Content Auto Generate Form Main Menu Here -->
            <div class="res-mobile-menu mobile-menu">

            </div>
        </div>
    </div>
</aside>
<!--== End Responsive Menu Wrapper ==-->

<!--=======================Javascript============================-->
<!-- build:js assets/js/app.min.js -->
<!--=== Modernizr Min Js ===-->
{% block js %}
<script src="{{ asset('front/assets/js/modernizr-3.6.0.min.js') }}"></script>
<!--=== jQuery Min Js ===-->
<script src="{{ asset('front/assets/js/jquery-3.3.1.min.js') }}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{{ asset('front/assets/js/jquery-migrate-1.2.1.min.js') }}"></script>
<!--=== Popper Min Js ===-->
<script src="{{ asset('front/assets/js/popper.min.js') }}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{{ asset('front/assets/js/bootstrap.min.js') }}"></script>
<!--=== Slicknav Min Js ===-->
<script src="{{ asset('front/assets/js/jquery.slicknav.min.js') }}"></script>
<!--=== Magnific Popup Min Js ===-->
<script src="{{ asset('front/assets/js/jquery.magnific-popup.min.js') }}"></script>
<!--=== Slick Slider Min Js ===-->
<script src="{{ asset('front/assets/js/slick.min.js') }}"></script>
<!--=== Nice Select Min Js ===-->
<script src="{{ asset('front/assets/js/jquery.nice-select.min.js') }}"></script>
<!--=== Leaflet Min Js ===-->
<script src="{{ asset('front/assets/js/leaflet.min.js') }}"></script>
<!--=== Countdown Js ===-->
<script src="{{ asset('front/assets/js/countdown.js') }}"></script>
    <script src="{{ asset('//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') }}"></script>
    <script src="{{ asset('//oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>
<!--=== Active Js ===-->
<script src="{{ asset('front/assets/js/active.js') }}"></script>

    <script src="{{ asset('https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN') }}" crossorigin="anonymous"></script>
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- endbuild -->
    <script src="{{ asset('front/assets/js/montage.js') }}"></script>

{% endblock %}
</body>

</html>