<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Reloua {% endblock %}</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="{{asset('front/assets/img/logo.png')}}" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700%7CPoppins:400,400i,500,600&display=swap" rel="stylesheet">

    <!-- build:css assets/css/app.min.css -->
    {% block css %}
        <!--== Leaflet Min CSS ==-->
        <link href="{{ asset('front/assets/css/leaflet.min.css') }}" rel="stylesheet" />
        <!--== Nice Select Min CSS ==-->
        <link href="{{ asset('front/assets/css/nice-select.min.css') }}" rel="stylesheet" />
        <!--== Slick Slider Min CSS ==-->
        <link href="{{ asset('front/assets/css/slick.min.css') }}" rel="stylesheet" />
        <!--== Magnific Popup Min CSS ==-->
        <link href="{{ asset('front/assets/css/magnific-popup.min.css') }}" rel="stylesheet" />
        <!--== Slicknav Min CSS ==-->
        <link href="{{ asset('front/assets/css/slicknav.min.css') }}" rel="stylesheet" />
        <!--== Animate Min CSS ==-->
        <link href="{{ asset('front/assets/css/animate.min.css') }}" rel="stylesheet" />
        <!--== Ionicons Min CSS ==-->
        <link href="{{ asset('front/assets/css/ionicons.min.css') }}" rel="stylesheet" />
        <!--== Font-Awesome Min CSS ==-->
        <link href="{{ asset('front/assets/css/font-awesome.min.css') }}" rel="stylesheet" />
        <!--== Bootstrap Min CSS ==-->
        <link href="{{ asset('front/assets/css/bootstrap.min.css') }}" rel="stylesheet" />

        <!--== Main Style CSS ==-->
        <link href="{{ asset('front/assets/css/style.css') }}" rel="stylesheet" />
        <!--== Helper Min CSS ==-->
        <link href="{{ asset('front/assets/css/helper.min.css') }}" rel="stylesheet" />
        <!-- endbuild -->

        <!--[if lt IE 9]>
    <script src="{{ asset('//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') }}"></script>
    <script src="{{ asset('//oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>

<!--== Start Header Area ==-->
<header class="header-area">
    <div class="container container-wide">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-2">
                <div class="site-logo text-center text-sm-left">
                    <a href="{{ path('index') }}"><img src="{{ asset('front/assets/img/logo.png') }}" alt="Logo" /></a>
                </div>
            </div>

            <div class="col-lg-7 d-none d-lg-block">
                <div class="site-navigation">
                    <ul class="main-menu nav">
                        <li class="has-submenu"><a href="{{ path('index') }}">Accueil</a>

                        </li>
                        <li><a href="{{ path('about') }}">a propos</a></li>
                        <li class="has-submenu"><a href="{{ path('produit') }}">Produit</a>

                        </li>
                        <li class="has-submenu"><a href="{{ path('forum') }}">Forum</a>

                        </li>
                        <li class="has-submenu"><a href="{{ path('montage') }}">Montage</a>

                        </li>

                        </li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-8 col-lg-3">
                <div class="site-action d-flex justify-content-center justify-content-sm-end align-items-center">
                    {% if app.user %}
                        <ul class="login-reg-nav nav">
                            <li>Hello, {{ app.user.firstName }}</li>
                            <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        </ul>
                    {% else %}
                        <ul class="login-reg-nav nav">
                            <li><a href="{{ path('app_login') }}">Login</a></li>
                            <li><a href="{{ path('user_new') }}">Inscription</a></li>
                        </ul>
                    {% endif %}


                    <div class="mini-cart-wrap">
                        <a href="cart.html" class="btn-mini-cart">
                            <i class="ion-bag"></i>
                            <span class="cart-total">3</span>
                        </a>

                        <div class="mini-cart-content">
                            <div class="mini-cart-product">
                                <div class="mini-product">
                                    <div class="mini-product__thumb">
                                        <a href="single-product.html"><img src="{{ asset('front/assets/img/product/product-1.png') }}" alt="product" /></a>
                                    </div>
                                    <div class="mini-product__info">
                                        <h2 class="title"><a href="single-product.html">Auto Clutch & Brake</a></h2>

                                        <div class="mini-calculation">
                                            <p class="price">5 x <span>$20.33</span></p>
                                            <button class="remove-pro"><i class="ion-trash-b"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="mini-product">
                                    <div class="mini-product__thumb">
                                        <a href="single-product.html"><img src="{{ asset('front/assets/img/product/product-2.png') }}" alt="product" /></a>
                                    </div>
                                    <div class="mini-product__info">
                                        <h2 class="title"><a href="single-product.html">Leather Steering Wheel</a></h2>

                                        <div class="mini-calculation">
                                            <p class="price">5 x <span>$20.33</span></p>
                                            <button class="remove-pro"><i class="ion-trash-b"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="mini-product">
                                    <div class="mini-product__thumb">
                                        <a href="single-product.html"><img src="{{ asset('front/assets/img/product/product-3.png') }}" alt="product" /></a>
                                    </div>
                                    <div class="mini-product__info">
                                        <h2 class="title"><a href="single-product.html">Leather Steering Wheel</a></h2>

                                        <div class="mini-calculation">
                                            <p class="price">5 x <span>$20.33</span></p>
                                            <button class="remove-pro"><i class="ion-trash-b"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="responsive-menu d-lg-none">
                        <button class="btn-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="slider-area-wrapper">
    {% block body %}{% endblock %}
</div>

<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-wide">
            <div class="row mtn-40">
                <div class="col-lg-3">
                    <div class="widget-item">
                        <div class="about-widget">
                            <a href="{{ path('index') }}"><img src="{{ asset('front/assets/img/logo-light.png') }}" alt="Logo" /></a>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Information</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Our company</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Our services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Quicklink</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Cart</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <div class="widget-item">
                        <h4 class="widget-title">Support</h4>
                        <div class="widget-body">
                            <ul class="widget-list">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget-item">
                        <h4 class="widget-title"></h4>
                        <div class="widget-body">
                            <address>

                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright-content">
                        <p>Copyright © 2022 Reloua. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!-- Scroll Top Button -->
<button class="btn-scroll-top"><i class="ion-chevron-up"></i></button>



<!--== Start Responsive Menu Wrapper ==-->
<aside class="off-canvas-wrapper off-canvas-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner">
        <!-- Start Off Canvas Content -->
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="logo">
                    <a href="{{ path('index') }}"><img src="{{ asset('front/assets/img/logo.png') }}" alt="Logo"></a>
                </div>
                <div class="close-btn">
                    <button class="btn-close"><i class="ion-android-close"></i></button>
                </div>
            </div>

            <!-- Content Auto Generate Form Main Menu Here -->
            <div class="res-mobile-menu mobile-menu">

            </div>
        </div>
    </div>
</aside>
<!--== End Responsive Menu Wrapper ==-->


<!--=======================Javascript============================-->
<!-- build:js assets/js/app.min.js -->
<!--=== Modernizr Min Js ===-->
{% block js %}
    <script src="{{ asset('front/assets/js/modernizr-3.6.0.min.js') }}"></script>
    <!--=== jQuery Min Js ===-->
    <script src="{{ asset('front/assets/js/jquery-3.3.1.min.js') }}"></script>
    <!--=== jQuery Migration Min Js ===-->
    <script src="{{ asset('front/assets/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <!--=== Popper Min Js ===-->
    <script src="{{ asset('front/assets/js/popper.min.js') }}"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="{{ asset('front/assets/js/bootstrap.min.js') }}"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="{{ asset('front/assets/js/jquery.slicknav.min.js') }}"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="{{ asset('front/assets/js/jquery.magnific-popup.min.js') }}"></script>
    <!--=== Slick Slider Min Js ===-->
    <script src="{{ asset('front/assets/js/slick.min.js') }}"></script>
    <!--=== Nice Select Min Js ===-->
    <script src="{{ asset('front/assets/js/jquery.nice-select.min.js') }}"></script>
    <!--=== Leaflet Min Js ===-->
    <script src="{{ asset('front/assets/js/leaflet.min.js') }}"></script>
    <!--=== Countdown Js ===-->
    <script src="{{ asset('front/assets/js/countdown.js') }}"></script>

    <!--=== Active Js ===-->
    <script src="{{ asset('front/assets/js/active.js') }}"></script>
    <!-- endbuild -->
{% endblock %}
</body>

</html>