{% extends 'base-back.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
    <h1 style="padding-right: 10px; text-align-all: center" >Livraison</h1>

    <table border="1" class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Modpaie</th>
                <td>{{ livraison.modpaie }}</td>
            </tr>
            <tr>
                <th>Modlivr</th>
                <td>{{ livraison.modlivr }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ livraison.region }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ livraison.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ livraison.date ? livraison.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livraison_index') }}">back to list</a>

    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}">edit</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
