{% block body %}
</head>
<body>
<h1>Liste des Commande</h1>
<form method="post" action="{{ path('rechercheB') }}">
    <label>Recherche</label>
    <input type="text"><input type="submit" value="Recherche">
</form>
<div class="col-lg-12 stretch-card">

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Remise</th>
                    <th>Total</th>

                </tr>
                </thead>
                <tbody>
                {% for facture in factures %}
                    <tr>
                        <td>{{ facture.id }}</td>
                        <td>{{ facture.DateFact | date('d-m-Y') }}</td>
                        <td>{{ facture.Remise }}</td>
                        <td>{{ facture.Total }}</td>


                    </tr>
                {% else %}
                    <tr>
                        <td colspan="18">pas de facture</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {% endblock %}
